{{>layout/header}}
    <h1>스프링부트로 웹서비스 시작하기 v20220506</h1>
    <hr>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">새글 등록</a>
            </div>
        </div>
    </div>
    <hr>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>저자</th>
                <th>내용</th>
                <th>등록일</th>
                <th>최종수정일</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>{{author}}</td>
                    <td>{{content}}</td>
                    <td>{{createdDate}}</td>
                    <td>{{ModifiedDate}}</td>
                </tr>
            {{/posts}}
        </tbody>
    </table>
{{>layout/footer}}